:root {
    color-scheme: light dark;
    --bg-color: rgb(234,232,224);
    --text-color: rgb(33, 33, 33);
    --alt-color: rgb(188, 188, 188);
    --text-alt: rgb(81, 81, 81);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: rgb(45, 45, 45);
        --text-color: rgb(255, 255, 255);
        --alt-color: rgb(0, 0, 0);
        --text-alt: rgb(163, 163, 163);
    }
}

body {
    text-align: center;
    padding-top: 0px;
    margin-bottom: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#Setupslist {
    margin: 10px;
    max-height: auto;
    overflow-y: auto;
    overflow-x: auto;
}
    
table {
    width: 420px;
    margin: 40px auto 10px;
    table-layout: fixed;
    border-spacing: 0 6px;
    border-collapse: separate;
}

#Setupstable td {
    padding: 4px 2px;
    border-bottom: solid 1px var(--alt-color);
}

#Setupstable .setupnames {
    width: 260px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}

#Setupstable td:not(.setupnames) {
    width: 15%;
    text-align: center;
}

.timestamp {
    font-weight: normal;
    font-size: 80%;
    color: var(--text-alt);
}

.autodesc {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  margin: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked + .slider {
  background-color: #6F8FFC;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6F8FFC;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}